body { padding-top:50px; }





/*******************************\
    $NAVBAR
\*******************************/
.navbar-breadcrumb{
    background:none;
    padding:0;
    margin:0;
}

.navbar-brand img{
    max-height:200%;
    margin-top:-10px;
}

.navbar-btn { background:#f0f0f0; }

.navbar-dropdown{
    float:left;
    margin-left:10px;
}
    .navbar-dropdown .dropdown-menu { margin-top:-5px; }





/*******************************\
    $BANNER
\*******************************/
.banner{
    background:#a3ca5f;
    overflow:hidden;
    position:relative;
}
    .banner:before{
        content:'';
        display:block;
        height:570px;
        width:2000px;
        background:rgba(0,0,0,.05);
        transform:rotate(-30deg);
        position:absolute;
        top:-100px;
        right:-830px;
    }
    .banner:after{
        content:'';
        display:block;
        height:500px;
        width:790px;
        background:rgba(255,255,255,.1);
        transform:rotate(80deg);
        position:absolute;
        top:0px;
        right:-199px;
    }
    .banner h1 small{
        display:block;
        margin-bottom:20px;
        font-size:30%;
    }





/*******************************\
    $NAV_PANEL
\*******************************/
.panel-nav .list-group-item:before{
    content:'/';
    margin-right:5px;
    color:#bbb;
}
.panel-nav .list-group .list-group{
    margin-top:5px;
    margin-bottom:-4px;
}
.panel-nav .list-group .list-group .list-group-item{
    padding:5px 15px;
}





/*******************************\
    $LIST_GROUP
\*******************************/
.list-group .list-group{
    margin-top:10px;
    margin-bottom:-7px;
}
.list-group .list-group .list-group-item { border:none; }





/*******************************\
    $FOOTER
\*******************************/
.footer{
    background:#333;
    padding:15px 0 10px;
    border-bottom:5px solid #a3ca5f;
    color:#959595;
}
.footer a, .footer a:visited   { color:#ffffff;  }
.footer-nav                    { padding-left:0; }

.footer-nav li{
    float:left;
    margin-right:5px;
    list-style:none;
}
    .footer-nav li:before{
        content:'/';
        margin:0 2px;
    }
    .footer-nav li:first-child:before { display:none; }





/*******************************\
    $DOC_REFERENCE
\*******************************/
.docref{
    float:left;
    display:block;
    margin:10px 0 0 20px;
    color:#333 !important;
    font-weight:700;
}
.docref .glyphicon{
    margin-right:10px;
    padding:3px;
    background:#333;
    border-radius:100px;
    font-size:80%;
    color:#fff;
    top:0;
}
.docref:hover           { text-decoration:underline; }
.alert-info .docref      { color:#245269 !important; }
.alert-info .docref .glyphicon { background:#245269; }





/*******************************\
    $OVERLAY
\*******************************/
.raw-data-link{
    cursor:pointer;
}





/*******************************\
    $INLINE
\*******************************/
.main a, .main a:visited {
    background:inherit;
    color:#79a325;
    text-decoration:none;
}

.footer a:hover, .main a:hover { color:#79a325;  }
code  { background-color:#e4f0d1; color:#516b24; }
.alert code          { background-color:inherit; }
