{% extends "SandboxMainBundle::skeleton.html.twig" %}

{% block content %}
<div xmlns:sioc="http://rdfs.org/sioc/ns#"
     xmlns:dcterms="http://purl.org/dc/terms/"
     typeof="sioc:Post"
     about="{{ page.path }}"
     class="articleContainer">

     {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
         <div class="hiddenfieldsContainer">
             <div class="hiddenfieldsToggle"></div>
             <div class="hiddenfields">
                <div class="hiddenfieldsCloseButton"></div>
                <h2>Article settings</h2>
             </div>
             <div class="hiddenfieldsCloseCorner"></div>
         </div>
    {% endif %}
    <h1 property="dcterms:title">{{ page.title }}</h1>
    <div property="sioc:content">
        {{ page.content|raw }}
    </div>
</div>
<div class="sidebar">Static Sidebar Content <img src="http://2.bp.blogspot.com/_M9KExL3ZWRM/SuIcfXUATHI/AAAAAAAAAHc/AeFJzszOnTw/s400/Totemcolorfulfaac4.jpg" /></div>
{{ parent() }}
{% endblock %}

{% block content_extra %}
<h3 class="offset">Child pages</h3>
{% render "symfony_cmf_navigation.renderer:childlistAction" with { 'url': url } %}
{% endblock %}
