{% extends "SymfonyCmfCoreBundle::skeleton.html.twig" %}

{% block content %}
<div xmlns:sioc="http://rdfs.org/sioc/ns#"
     xmlns:dcterms="http://purl.org/dc/terms/"
     typeof="sioc:Post"
     about="{{ page.path }}">
<h1 property="dcterms:title">{{ page.title }}</h1>
<div property="sioc:content">
{{ page.content|raw }}
</div>
</div>
{% endblock %}

{% block content_extra %}
<h3 class="offset">Child pages</h3>
{% render "symfony_cmf_navigation.renderer:childlistAction" with { 'url': url } %}
{% endblock %}
