composer.phar
web/bundles/
web/js/
web/css/
app/cache/*
app/logs/*
build/
vendor/
vendor
app/config/parameters.yml
app/config/phpcr.yml
jackrabbit/
vagrant/.vagrant
app/bootstrap.php.cache
.idea/*
app/phpunit.xml

/bin/