composer.phar
app/cache/*
app/logs/*
app/config/parameters.yml
app/config/phpcr.yml
app/bootstrap.php.cache
app/app.sqlite
app/check.php
app/SymfonyRequirements.php
web/bundles/
web/js/
web/css/
web/media
web/assetic
build/
/vendor/
jackrabbit/
jackrabbit-standalone-*.jar
vagrant/.vagrant
bin/
