composer.phar
web/bundles/
web/js/
web/css/
app/cache/*
app/logs/*
web/media
build/
vendor/
vendor
app/config/parameters.yml
app/config/phpcr.yml
jackrabbit/
jackrabbit-standalone-*.jar
vagrant/.vagrant
app/bootstrap.php.cache
.idea/

/bin/
