language: php

php:
  - 5.3
  - 5.4

before_script:
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - curl -s http://getcomposer.org/installer | php --
  - php composer.phar install --dev
  - ./vendor/jackalope/jackalope-jackrabbit/bin/jackrabbit.sh
  - php app/console doctrine:phpcr:workspace:create sandbox
  - app/console doctrine:phpcr:register-system-node-types

script: phpunit -c app

notifications:
  irc: "irc.freenode.org#symfony-cmf"
  email: "symfony-cmf-devs@googlegroups.com"
