{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/symfonycmftree/css/jquery.treeview.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'SymfonyCmfPHPCRBrowserBundle:Base:tree.html.twig' %}
{% endblock %}

{% block side_menu %}
    <div id="tree"></div>
    {{ parent() }}
{% endblock %}