{% extends "base.html.twig" %}

{% block content %}
    <div class="alert  alert-info  clearfix">
        <p>{{ info|raw }}</p>

        <a href="http://symfony.com/doc/current/cmf/bundles/routing/dynamic.html#configuring-the-controller-for-a-route" class="docref"><i class="glyphicon glyphicon-chevron-right"></i>Read about this feature in the CMF documentation.</a>
    </div>

    <h1 id="main_title">{{ cmfMainContent.title }}</h1>
    <div>{{ cmfMainContent.body|raw }}</div>
{% endblock %}
