framework:
    charset:       UTF-8
    secret: sdv54sdvsdv21s8dv4
    csrf_protection:
        enabled: true
    router:        { resource: "%kernel.root_dir%/config/routing.yml" }
    validation:    { enabled: true, enable_annotations: true }
    templating:    { engines: ['twig'] } #assets_version: SomeVersionScheme
    session:
        default_locale: en
        lifetime:       3600
        auto_start:     true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

doctrine_phpcr:
    backend:
        url: http://localhost:8080/server/
        workspace: default
        user: admin
        pass: admin

