parameters:
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: ''
    mailer_password: ''

    locale: en

    secret: xxxxxxxxxx

    phpcr_backend:
        type: jackrabbit
        url: http://localhost:8080/server/
        #type: doctrinedbal
        #connection: doctrine.dbal.default_connection
    phpcr_workspace: sandbox
    phpcr_user: admin
    phpcr_pass: admin

    liip_vie.use_coffee: false
    # a little hack to avoid errors on missing node/coffescript.
    # remove -disabled if you want coffee.
    coffee.extension: "\.coffee-disabled$"
    coffee.bin: ''
    coffee.node: ''

    database_driver: pdo_mysql
    database_host: localhost
    database_port:
    database_name: jackalope
    database_user: jackalope
    database_password: test1234
