parameters:
    locale: en

    secret: xxxxxxxxxx

    phpcr_backend:
        type: jackrabbit
        url: http://localhost:8080/server/
        # Doctrine DBAL configs
        #type: doctrinedbal
        #connection: doctrine.dbal.default_connection
        # Midgard2 configs
        #type: midgard2
        #dbtype: SQLite
        #dbname: cmf
        #dbdir: /tmp
        #dbinit: true
        #blobdir: /tmp/cmf-blobs
    phpcr_workspace: sandbox
    # With Midgard2, use
    # phpcr_workspace: default
    phpcr_user: admin
    phpcr_pass: admin
    # With Midgard2, use
    # phpcr_pass: password

    liip_vie.use_coffee: false
    # a little hack to avoid errors on missing node/coffescript.
    # remove -disabled if you want coffee.
    coffee.extension: "\.coffee-disabled$"
    coffee.bin: ''
    coffee.node: ''

    database_driver: pdo_mysql
    database_host: localhost
    database_port:
    database_name: jackalope
    database_user: jackalope
    database_password: test1234
