parameters:
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: ''
    mailer_password: ''

    locale: en

    secret: xxxxxxxxxx

    phpcr_url: http://localhost:8080/server/
    phpcr_workspace: default
    phpcr_user: admin
    phpcr_pass: admin

    liip_vie.use_coffee: false
    coffee.bin: ''
    coffee.node: ''

    database_driver: pdo_mysql
    database_host: localhost
    database_port:
    database_name: jackalope
    database_user: jackalope
    database_password: test1234
