parameters:
    locale: en

    secret: xxxxxxxxxx

    phpcr_backend:
        type: midgard2
        db_type: MySQL
        db_name: midgard2_test
        db_host: "0.0.0.0"
        db_port: 3306
        db_username: ""
        db_password: ""
        db_init: true
        blobdir: /tmp/cmf-blobs
    phpcr_workspace: sandbox
    phpcr_workspace: default
    phpcr_user: admin
    phpcr_pass: password

    liip_vie.use_coffee: false
    # a little hack to avoid errors on missing node/coffescript.
    # remove -disabled if you want coffee.
    coffee.extension: "\.coffee-disabled$"
    coffee.bin: ''
    coffee.node: ''

    database_driver: pdo_mysql
    database_host: localhost
    database_port:
    database_name: jackalope
    database_user: jackalope
    database_password: test1234
