# Internal routing configuration to handle ESI
#_internal:
#   resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#   prefix:   /_internal

home_redirect:
    pattern: /
    defaults:
        _controller: lunetics_locale.switcher_controller:switchAction
        route: /cms/routes/en
        statusCode: 301
        useReferrer: false

admin_wo_locale:
    pattern: /admin
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: sonata_admin_dashboard
        permanent: true # this for 301

admin_dashboard_wo_locale:
    pattern: /admin/dashboard
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: sonata_admin_dashboard
        permanent: true # this for 301

admin_dashboard:
    pattern: /{_locale}/admin/
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: sonata_admin_dashboard
        permanent: true # this for 301

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /{_locale}/admin

sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /{_locale}/admin

fos_js_routing:
    resource: @FOSJsRoutingBundle/Resources/config/routing/routing.xml

symfony_cmf_tree:
    resource: .
    type: 'symfony_cmf_tree'

test:
    pattern:  /hello
    defaults: { _controller: SandboxTestBundle:Test:index }

create:
    resource: "@SymfonyCmfCreateBundle/Resources/config/routing/rest.xml"

create_image:
    resource: "@SymfonyCmfCreateBundle/Resources/config/routing/image.xml"

liip_search:
    resource: "@SymfonyCmfSearchBundle/Resources/config/routing.xml"