# Internal routing configuration to handle ESI
#_internal:
#   resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#   prefix:   /_internal

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

admin_tree:
    resource: '@SonataDoctrinePHPCRAdminBundle/Resources/config/routing/tree.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

fos_js_routing:
    resource: @FOSJsRoutingBundle/Resources/config/routing/routing.xml

phpcrbrowser:
    resource: @SymfonyCmfPHPCRBrowserBundle/Resources/config/routing.xml
    prefix: /admin/browser

test:
    pattern:  /hello
    defaults: { _controller: SandboxTestBundle:Test:index }

image_upload:
    pattern: /image/upload/
    defaults: { _controller: sandbox_main.image_controller:uploadAction, _format: json }
    requirements:
        _format: json

image_display:
    pattern: /image/{id}
    defaults: { _controller: sandbox_main.image_controller:displayAction }
    requirements:
        id: '[A-Za-z0-9\.]+'

vie:
    resource: "@LiipVieBundle/Resources/config/routing/phpcr_odm.xml"

vie_asset_management:
    resource: "@LiipVieBundle/Resources/config/routing/asset_search.xml"
