# Internal routing configuration to handle ESI
#_internal:
#   resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#   prefix:   /_internal

admin_dashboard:
    pattern: /admin/
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: sonata_admin_dashboard
        permanent: true # this for 301

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

fos_js_routing:
    resource: @FOSJsRoutingBundle/Resources/config/routing/routing.xml

phpcrbrowser:
    resource: @SymfonyCmfTreeBrowserBundle/Resources/config/routing/phpcrbrowser.xml
    prefix: /admin/browser
phpcrodmbrowser:
    resource: @SonataDoctrinePHPCRAdminBundle/Resources/config/routing/phpcrodmbrowser.xml
    prefix: /admin/browser

test:
    pattern:  /hello
    defaults: { _controller: SandboxTestBundle:Test:index }

hallo_image_upload:
    pattern: /image/upload
    defaults: { _controller: sandbox_main.image_controller:uploadAction, _format: json }
    requirements:
        _format: json

hallo_image_display:
    pattern: /image/{id}
    defaults: { _controller: sandbox_main.image_controller:displayAction }
    requirements:
        id: '[A-Za-z0-9\.]+'

create:
    resource: "@SymfonyCmfCreateBundle/Resources/config/routing/rest.xml"
    resource: "@SymfonyCmfCreateBundle/Resources/config/routing/image.xml"

liip_search:
    resource: "@SymfonyCmfSearchBundle/Resources/config/routing.yml"