 {% extends 'SymfonyCmfBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <h1>Demo Action Block</h1>
    <p>This block content is rendered by a custom Symfony2 action. Thus it has no inline-editing.</p>
{% endblock %}