 {% extends 'SymfonyCmfBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <div class="span3">
        <h2>Demo Action Block</h2>
        <p>This block content is rendered by a custom Symfony2 action. Thus it has no inline-editing.</p>
    </div>
{% endblock %}
