{% extends "base.html.twig" %}

{% block raw_data %}{# can't get raw data for this #}{% endblock %}

{% block content %}
    <div class="alert  alert-info"><p>This page is a normal Symfony page: A template rendered by a controller that was resolved using a route defined in <code>app/config/routing.yml</code>.</p></div>

    <h1>Hello World!</h1>
    <p>Sonet affert an has. Nam id odio nisl eruditi. Te quo falli propriae delectus, ut animal meliore est, agam decore in sea. Prima debet fierent id sed. Usu debet paulo argumentum ex, solum homero in sed, modus laboramus et usu. Brute legendos contentiones ex pri. Ut suscipit honestatis sed, per id facer euismod probatus. Ne persius posidonium eum, has elaboraret philosophia eu. No eam wisi choro labores. Sit id oratio aperiam electram, quodsi deterruisset no eum, vel modo quaeque ei.</p>
{% endblock %}
