{% extends "SymfonyCmfCoreBundle::skeleton.html.twig" %}

{% block includes %}
    {{ parent() }}
    <link href="/bundles/sandboxmain/css/style.css" media="screen" type="text/css" rel="stylesheet" />
    {% stylesheets '@LiipVieBundle/Resources/public/hallo/Aristo/jquery-ui-1.8.7.custom.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {{ parent() }}
    <button id="savebutton">Save</button>

{% endblock %}

{% block bottom_scripts %}
    {{ parent() }}
    {% render "LiipVieBundle:Vie:includeJSFiles" %}
{% endblock %}
