{% extends "SymfonyCmfCoreBundle::skeleton.html.twig" %}

{% block includes %}
    {{ parent() }}
    <link href="/bundles/sandboxmain/css/style.css" media="screen" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    {{ parent() }}
    <div id="savebutton" style="display:none;">
        Save
    </div>
{% endblock %}

{% block bottom_scripts %}
    {{ parent() }}
    {% render "LiipVieBundle:Vie:includeJSFiles" %}
{% endblock %}
