div.inner > div h1 {
    font-size: 1.55em;
    font-weight: bold;
}

.articleContainer {
    float: left;
    width: 710px;
}

.sidebar {
    float: right;
    width: 250px;
}

[contenteditable] a {
    color: #00add2;
}

#userBar {
    position: fixed;
    width: 100%;
    padding: 5px;
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 14px;
    z-index: 550;
    height: 25px;
    line-height: 22px;
    border-bottom: 1px solid #333;
    display: none;

    background: #969696; /* Old browsers */
    background: -moz-linear-gradient(top, #969696 0%, #515151 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#515151)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #969696 0%,#515151 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #969696 0%,#515151 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #969696 0%,#515151 100%); /* IE10+ */
    background: linear-gradient(top, #969696 0%,#515151 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
}

#userBar .saveButton {
    cursor: pointer;
    padding: 2px 4px;
    margin-left: 2px;
    border-radius: 3px;
    border: none;
    text-indent: 1000px;
    overflow: hidden;
    width: 70px;
    height: 25px;
    background: transparent url("/bundles/liipvie/img/saveButton.png") no-repeat 0 0;
}

#userBar .saveButtonSaving {
    width: 100px;
    background: transparent url("/bundles/liipvie/img/saveButton.png") no-repeat 0 -25px;
}

#userBar .saveButtonActive {
    width: 95px;
    line-height: 30px;
    background: transparent url("/bundles/liipvie/img/saveButton.png") no-repeat 0 -50px;
}

#userBar .saveButtonActive:hover {
    background-position: 0 -75px;
}

.articleContainer {
    position: relative;
}

.hiddenfieldsToggle {
    background-image: url('/bundles/sandboxmain/images/cornersettings_small.png');
    position: absolute;
    top: 0;
    right: 0;
    width: 106px;
    height: 92px;
    cursor: pointer;
}

.hiddenfieldsToggle:hover {
    background-image: url('/bundles/sandboxmain/images/cornersettings_large.png');
    width: 157px;
    height: 136px;
}

.hiddenfields {
    background-color: black;
    width: 100%;
    display: none;
    height: 100px;
    border-radius: 3px;
    padding: 10px;
}

.hiddenfields h2 {
    background: url('/bundles/sandboxmain/images/settingsh2icon.png') no-repeat left center;
    padding-left: 22px;
    padding-bottom: 0;
    color: #A0A0A0;
    font-family: Helvetica, Arial;
    font-size: 15px;
}

.hiddenfieldsContainer {
    z-index: 100;
    padding: 25px 38px 20px 20px;
    position: relative;
    min-height: 30px;
}

.hiddenfieldsCloseCorner {
    background: url('/bundles/sandboxmain/images/cornerclose.png') no-repeat left bottom;
    width: 106px;
    height: 92px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    cursor: pointer;
}

.hiddenfieldsCloseButton {
    background: url('/bundles/liipvie/img/close_button.png');
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 6px;
    cursor: pointer;
}