body {
    background-color: #ccc;
}


.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

a, a:visited {
    background:inherit;
    color:#79A325;
    text-decoration:none;
}

.boxed {
    border-radius:4px;
}

#top {
}

#banner {
    position: relative;
}

#banner .hero-unit {
    background-color: #a3ca5f;
    margin-bottom: .5em;
}

#logo-text a{
    color: #fff;
    text-decoration: none;
}

#breadcrumb .breadcrumb {
    border: none;
    background-color: #4b4b4b;
    background-image: none;
    box-shadow: none;
    margin-bottom: .5em;
}

#breadcrumb .breadcrumb li {
    text-shadow: none;
}

#breadcrumb .breadcrumb li a {
    color: #a3ca5f;
}

#breadcrumb .breadcrumb li:after {
    content: " :";
    color: #ccc;
}

#top li {
    display: inline;
}

#top li.selected a {
    color: #333;
}

#language_selector {
}

#language_selector li span {
    display: none;
}

#content-container {
    background-color: #fff;
    padding: 2em 0;
}

#content, #content_extra {
    position: relative;
}

.articleContainer {
    position: relative;
}

.articleContainer > * {
    margin-right: 2em;
}

.articleContainer p:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#footer {
    margin-top: 1em;
}
