div.inner > div > h1 {
    font-size: 200%;
    font-weight: bold;
}

#savebutton{
    background: #222;
    display: none;
    padding: 5px 10px 6px;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: 15px 0 0;
}

#savebutton:hover{
    background-color: #111;
    color: #fff;
}


/* Editable elements */
[contenteditable]{
    outline: none;
    padding: 5px 5px 0;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
}

[contenteditable]:hover{
    background-color: #ffffee;
    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    cursor: pointer;
}

[contenteditable].inEditMode{
    cursor: text;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 20px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Toolbar */
.halloToolbar{
    width: 800px;
    background: #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* Overriding jQuery UI css styles */
.halloToolbar .ui-state-default{
    border: none;
}

.halloToolbar .ui-button{
    margin: 0;
    background: #000;
    color: #fff;
    box-shadow: none;
}

.halloToolbar .ui-button-text-only .ui-button-text{
    padding: 2px 8px;
    margin: 2px;
}

.halloToolbar .ui-button-text .ui-button-text{
    padding: 0;
}