html {
    background: #fff;
    color: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a {
    color: #8AB84B;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em,
strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del, ins {
    text-decoration: none;
}

li {
    list-style-type: square;
    margin-left: 16px;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font: normal 66px Georgia, serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 1.1;
    color: #8AB84B;
    font-size: 2.3em;
}

h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.05;
    line-height: 1.2;
    color: #666;
    font-size: 1.8em;
}

h3 {
    margin-bottom: 8px;
    line-height: 1.2;
    color: #5e6984;
}

p {
    font-size: 1em;
    line-height: 1.4;
}

strong {
    font-family: 'Profile-Bold';
}

dt {
    font-weight: bold;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sub {
    vertical-align: baseline;
}

legend {
    color:#000;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input, button, textarea, select {
    *font-size: 100%;
}

body {
    background-color: #fff;
    color: #24272e;
}

.offset, #skiplinks {
    position: absolute;
    left: -9000px;
}

#header {
    position: relative;
    margin-bottom: 20px;
    padding-top: 25px;
    height: 130px;
}

#header h1#logo-text a {
    color: #8AB84B;
    left: 55px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    top: 20px;
    font-size: 2.1em;
}

#header p#slogan {
    color: #888;
    font-size: 15px;
    left: 150px;
}

#content {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #e3e4e4;
}

#main {
    float: left;
    width: 632px;
}

#main #top {
    margin-bottom: 34px;
}

#main #bottom {
    overflow: hidden;
    margin: 0 -24px 6px 0;
}

#footer {
    background-color:#24272d;
}

#footer .inner {
    padding: 32px 20px 20px;
}

#header, .inner, #navigation {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#content h1 a,
#content h2 a {
    text-decoration: none;
}

#content h1 a:link,
#content h1 a:visited,
#content h2 a:link,
#content h2 a:visited {
    color: inherit;
}

#content h1 a:hover,
#content h2 a:hover {color:#5e6984}

#main p a {
    color: #24272e;
    -webkit-transition: color .2s linear;
}

#main p a:hover {
    color: #5e6984;
}

#logo {
    width: 345px;
    height: 62px;
    line-height: .6;
}

#logo img {
    float: left;
    margin-right: 17px;
}

#logo span {
    font-size: .58em;
    color: #676758;
}

#logo a {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

#main h1 {
    border-bottom: 1px solid #bec9d5;
}

#main p {
    margin-bottom: 12px;
}

#main p img {
    padding: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px #d8d8d8;
    -moz-box-shadow: 0 1px 5px #d8d8d8;
    box-shadow: 0 1px 5px #d8d8d8;
    margin: 0 24px 24px 0;
}

#main p img:hover {
    padding: 7px;
    border: 1px solid #c8c9cb;
}

#main ul {
    margin: 0 0 10px 20px;
}

#main ul li {
    list-style-type: disc;
    list-style-position: inside
}

#main ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

#footer {
    color: #fff;
}

#footer p {
    font-size: 1.04em;
    line-height: 1.3;
    margin-bottom: 10px;
}

#footer p a:link,
#footer p a:visited {
    color: #fff;
}

#footer p a:link:hover,
#footer p a:visited:hover {
    color: #a7a8ab;
}

#footer .read_more {
    padding-left: 10px;
    color: #fff;
    text-shadow: none;
    background-color: transparent;
    background-position: 0 5px;
}

#footer .read_more:hover {
    color: #a7a8ab;
    background-position: 0 -15px;
}

.article_info {
    margin: -5px 0 10px;
}

#navigation {
    margin-bottom: 5px;
}

.articleContainer {
    float: left;
    width: 700px;
}

ul[rel="dc:subject"] {
    display: none;
}

.cmf-childlist {
    padding: 10px 0;
}

.cmf-childlist li {
    padding-bottom: 5px;
}

[contenteditable] a {
    color: #00add2;
}

[contenteditable] li {
    list-style-type: disc;
    margin: 0 0 0 22px;
}

#userBar {
    position: fixed;
    width: 100%;
    padding: 5px;
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 14px;
    z-index: 550;
    height: 25px;
    line-height: 22px;
    border-bottom: 1px solid #333;
    display: none;

    background: #969696; /* Old browsers */
    background: -moz-linear-gradient(top, #969696 0%, #515151 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#515151)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #969696 0%,#515151 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #969696 0%,#515151 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #969696 0%,#515151 100%); /* IE10+ */
    background: linear-gradient(top, #969696 0%,#515151 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
}

#userBar .saveButton {
    cursor: pointer;
    padding: 2px 4px;
    margin-left: 2px;
    border-radius: 3px;
    border: none;
    text-indent: 1000px;
    overflow: hidden;
    width: 70px;
    height: 25px;
    background: transparent url("/bundles/liipvie/img/saveButton.png") no-repeat 0 0;
}

#userBar .saveButtonSaving {
    width: 100px;
    background: transparent url("/bundles/liipvie/img/saveButton.png") no-repeat 0 -25px;
}

#userBar .saveButtonActive {
    width: 95px;
    line-height: 30px;
    background: transparent url("/bundles/liipvie/img/saveButton.png") no-repeat 0 -50px;
}

#userBar .saveButtonActive:hover {
    background-position: 0 -75px;
}

.articleContainer {
    position: relative;
}

.articleContainer {
    margin-bottom: 20px;
    clear: both;
}

#language_selector {
    position: absolute;
    top: 10px;
    right: 40px;
    color: #ED671E;
}

#language_selector li.selected a {
    color: #000;
}

#language_selector li.selected span {
    visibility: hidden;
}

#navigation > ul {
    margin-top: 20px;
}

#navigation > ul > li {
    margin-bottom: 5px;
}

#navigation > ul > li > ul > li {
    margin-left: 20px;
    margin-top: 5px;
}

#navigation a {
    color: #2a7aa8;
}

#navigation .cmf-breadcrumb a {
    color: #333;
    text-decoration: none;
}

#articleTagsWrapper {
    width: 400px;
    margin-top: 20px;
}



.not_valid {
    background:#FBD8DB!important;
    color:#90111A!important;
}



